@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Amatic+SC:wght@700&family=Architects+Daughter&family=Belanosima&family=Bree+Serif&family=Caveat:wght@700&family=Chakra+Petch:wght@500&family=Courier+Prime&family=Dosis&family=Edu+TAS+Beginner:wght@700&family=Exo+2:wght@300&family=Fasthand&family=Fredericka+the+Great&family=Handjet:wght@300&family=Indie+Flower&family=Inter:wght@300&family=Kalam&family=Lugrasimo&family=Lumanosimo&family=Merienda:wght@500&family=Montserrat+Alternates&family=Montserrat:wght@200;300;400&family=Noto+Sans+Indic+Siyaq+Numbers&family=Nunito:wght@200&family=Pangolin&family=Poppins:wght@100&family=Rajdhani&family=Raleway:wght@300&family=Red+Hat+Display:wght@500&family=Rubik&family=Rubik+Scribble&family=Sacramento&family=Sarabun&family=Sedgwick+Ave+Display&family=Single+Day&family=Slabo+27px&family=Tajawal&family=Titillium+Web:wght@300&family=Ysabeau+Infant:wght@200&family=Ysabeau+SC:wght@300&family=Zeyada&display=swap');

body{
  background-color:black;
}

.block{
  height:450px;
  border:2px solid white;
  width:400px;
  border-radius:20px;
  margin-top:40px;
  margin-left:450px;
}

.t1{
  font-size:40px;
  margin-top:30px;
  margin-left:58px;
  font-family:montserrat;
  color:white;
}

.t2{
  color:white;
  font-family:poppins;
  letter-spacing:.76px;
  font-size:16px;
  margin-left:80px;
  margin-top:-22px;
}

.t3{
  color:white;
  font-family:montserrat;
  letter-spacing:.76px;
  font-size:20px;
  margin-left:40px;
  margin-top:16px; 
  /* font-weight:; */
}

.hr1{
  margin-top:-32px;
  width:120px;
}

.code{
  border:2px solid white;
  width:110px;
  height:33px;
  text-align: center;
  background-color:white;
  padding-left:5px;
  font-weight:900;
  align-items: center;
  color:rgb(0, 0, 0);
  font-size:22px;
  font-family:montserrat;
  margin-top:-62px;
  margin-left:150px;
  border-radius:5px;
}


#i1{
  /* position: absolute; */
  width:170px;
  height:24px;
  margin-top:20px;
  margin-left:110px;
  background-color:rgb(0, 0, 0);
  color:white;
  font-size:20px;
  font-family:montserrat;
  text-align: center;
  border:0px solid black;
  border-bottom:2px solid white;
}

.b1{
  font-size:20px;
  margin-top:40px;
  margin-left:150px;
  font-family:montserrat;
  font-size:22px;
  width:100px;
  height:36px;
  border-radius:3px;
  font-weight:600;
  border:2px solid black;
}

.b1:hover{
  background-color:rgb(210, 210, 210);
  border:2px solid white;
  background-color:black;
  color:white;
}
.refresh{
  fill:white;
  position: absolute;
  margin-top:-95px;
  margin-left:290px;
}

.refresh:hover{
  cursor: pointer;
}

.b2{
  background-color:black;
  border:0px;
  cursor:pointer;
}

.b1{
  cursor:pointer;
}

.output{
  color:white;
  font-family:montserrat;
  font-size:20px;
  text-align: center;
}